if SHIELD_WEBERBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "weberboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_WEBERBOARD_LEFT || SHIELD_WEBERBOARD_RIGHT

config ZMK_SPLIT
    default y

endif